<ul class="navbar-nav flex-grow-1">
    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Ouvrages", "Index", "Ouvrages", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Catégories", "Index", "Categories", new { area = "" }, new { @class = "nav-link" })</li>
</ul>